* {
  padding: 0;
  margin: 0;
  font-family: "Mali", cursive;
  user-select: none;
  -webkit-user-drag: none;
}

*::-webkit-scrollbar {
  width: 10px;
  overflow: auto;
  border-color: #ff7d7d;
}

/* Track */
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #e795fa;
  border-radius: 10px;
  margin: 2px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #a776ec;
}

@font-face {
  font-family: "myFont";
  src: url(./src/font/CatPaw.ttf);
}
.cat {
  user-select: none;
}
.logo {
  font-family: "myFont";
  text-align: center;
  font-size: 40px;
  color: #6c36b7;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px white;
}

#header-background {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

#header {
  z-index: 2;
}

.instruction-popup {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 10%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.instruction-content {
  background-color: #f4f1bc;
  margin: auto;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 40px;
  /*padding: 50px;*/
  /*border: 1px solid #888;*/
  border: 5px solid #e795fa;
  width: 50%;
  color: #0da789;
  box-shadow: 5px 5px 5px #857d7b;
  border-radius: 25px;
  font-size: 22px;
}

.instruction-content-button {
  position: relative;
  left: 80%;
  bottom: 45%;
  width: 100px;
  height: 50px;
  background-color: #f24726;
  color: white;
  border-radius: 50%;
  margin-left: 25px;
  font-size: 16px;
  box-shadow: 0 10px #ce2d12;
  cursor: pointer;
  outline: none;
  border: none;
}

.instruction-content-button:hover {
  box-shadow: 0 15px #ce2d12;
  transform: translate3D(0, -5px, 0);
}

.instruction-content-button:active {
  transform: translate3D(0, 10px, 0);
  box-shadow: 0 0 #ce2d12;
}

.container1 {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  background-repeat: repeat;
  background-image: url("./src/img/bg.jpg");
  background-size: contain;
}

.topic {
  background-color: #e9caf0;
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  font-family: cursive;
  box-shadow: 0px 5px 5px #f1b2ff;
  z-index: 3;
}

.cat {
  z-index: 0;
}

.container2 {
  display: flex;
  /* background-color: darkorange; */
  width: 100%;
  height: 90%;
  justify-content: space-evenly;
  margin-top: 10px;
}

.container3 {
  display: flex;
  width: 70%;
  /* background-color: forestgreen; */
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
}

.dfa {
  /* background-color: gold; */
  height: 70%;
  width: 100%;
  border-radius: 50px;
  border: 5px solid #e795fa;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.dfa:hover {
  box-shadow: 0px 5px 5px #e9caf0;
}

.input-container {
  /* background-color: greenyellow; */
  width: 100%;
  height: 25%;
  border-radius: 50px;
  border: 5px solid #e795fa;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2em;
  /* overflow: auto; */
}

.input-container:hover {
  box-shadow: 0px 5px 5px #e9caf0;
}

.input-container #inputstring {
  font-size: 1.5rem;
  padding: 0px 5%;
}

.container4 {
  padding: 10px;
  width: 25%;
}

.selector {
  height: 95%;
  border-radius: 50px;
  border: 5px solid #e795fa;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.selector:hover {
  box-shadow: 0px 5px 5px #e9caf0;
}

.Header {
  text-align: center;
  font-size: 30px;
  color: #6c36b7;
  font-weight: bold;
}

.textinput {
  /* font-size: 1.5rem; */
  padding: 20px;
  margin-left: 10px;
}
#inputstring {
  /* font-size: 1.5rem; */
  margin-left: 10px;
  margin-right: 20px;
  overflow-y: scroll;
  height: 50%;
}

.ButtonRe {
  /*Restart*/
  width: 100px;
  height: 50px;
  background-color: #ce2d12;
  color: white;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: 20px;
  font-size: 16px;
  box-shadow: 0 10px rgb(150, 5, 5);
  cursor: pointer;
}

.ButtonRe:hover {
  transform: translate3D(0, -5px, 0);
  box-shadow: 0 15px rgb(150, 5, 5);
}

.ButtonRe:active {
  transform: translate3D(0, 10px, 0);
  box-shadow: 0 0 rgb(150, 5, 5);
}

.ButtonCon {
  /*Confirm*/
  width: 100px;
  height: 50px;
  background-color: #0da789;
  color: white;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: 25px;
  font-size: 16px;
  box-shadow: 0 10px #008066;
  cursor: pointer;
}

.ButtonCon:hover {
  box-shadow: 0 15px #008066;
  transform: translate3D(0, -5px, 0);
}

.ButtonCon:active {
  transform: translate3D(0, 10px, 0);
  box-shadow: 0 0px #008066;
}

.hr {
  height: 5px;
  background-color: #fac710;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #f1d56d;
}

.t {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.Button-i {
  background-color: #2d9bf0;
  border-style: none;
  border-radius: 50%;
  width: 1.5vw;
  height: 1.5vw;
  color: white;
  font-size: 1vw;
  transform: translateX(-20px);
  cursor: pointer;
  position: relative;
  top: 0px;
  right: 0px;
  outline: none;
}

.Button-i:hover {
  box-shadow: 0 0 5px #2d9bf0;
}

.foods {
  display: flex;
  justify-content: space-evenly;
}

.food {
  display: flex;
  position: relative;
}

.snack {
  display: flex;
  justify-content: flex-start;
  padding: 0px 20%;
}

.minifood {
  position: relative;
}

/*-------------รูปอาหาร--------------*/

.Button-pic {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  outline: none;
  appearance: none;
}

.food-img {
  height: 7vw;
}

label img:hover {
  border: #f24726;
  -webkit-filter: drop-shadow(0px 0px 10px #f24726);
  filter: drop-shadow(0px 0px 10px #f24726);
}

input:checked ~ label {
  /* background-color: #008066; */
  -webkit-filter: drop-shadow(0px 0px 30px #f24726);
  -webkit-transition: all 0.3s ease-in-out;
}

/*----------------------------------*/

.instruction-content-button :active {
  transform: translate3D(0, 5px, 0);
  box-shadow: 0 3px #ce2d12;
}

.member-popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  padding-top: 5%;
  /* Location of the box */
  right: 5%;
  top: 0;
  width: 400px;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  text-align: center;
}

.member-content {
  background-color: #caf0d0;
  margin: auto;
  padding: 5px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 95%;
  color: #1f912e;
  font-size: 20px;
}

.member-content-button {
  position: absolute;
  top: 7%;
  right: 0;
}
.member-content-button:hover {
  position: absolute;
  top: 7%;
  right: 0;
  text-shadow: 0 3px #ff4343;
  transform: translate3D(0, 0, 5px);
}

.info-popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  padding-top: 5%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  text-align: center;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.info-content {
  /*pop up ใน i*/
  display: flex;
  background-color: white;
  margin: auto;
  padding: 5px;
  /*border: 1px solid #888;*/
  border: 5px solid #2d9bf0;
  width: 60%;
  height: 59%;
  /*border: 1px solid black;*/
  border-radius: 25px;
}

.info-content-item1 {
  margin-left: 10%;
  width: 30%;
  height: 200px;
  padding-top: 10%;
}

.info-content-item2 {
  /*background-color: wheat;*/
  width: 50%;
  height: 200px;
  color: #2d9bf0;
  /*สีตัวอักษร*/
  padding-top: 15%;
}

.info-content-item1-image {
  width: 50%;
  height: 75%;
}

.info-content-item2-button {
  /*ปุ่มกากบาท*/
  position: absolute;
  top: 10%;
  right: 20%;
}
.info-content-item2-button:hover {
  position: absolute;
  top: 10%;
  right: 20%;
  text-shadow: 0 3px #ff4343;
  transform: translate3D(0, 0, 5px);
}

.member-button {
  position: fixed;
  right: 5%;
  top: -1%;
  font-size: 50px;
  color: #0da789;
  text-shadow: 2px 2px 1px #008066;
  /* text-shadow: 0 5px #008066; */
}

.member-button:hover {
  text-shadow: 5px 5px 2px #008066;
}

.result-popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  padding-top: 5%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  text-align: center;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.result-content {
  display: flex;
  background-color: white;
  margin: auto;
  padding: 5px;
  /*border: 1px solid #888;*/
  border: 5px solid #2d9bf0;
  width: 60%;
  height: 59%;
  /*border: 1px solid black;*/
  border-radius: 25px;
}

.result-content-button {
  position: absolute;
  right: 10%;
}

.result-content-item1 {
  margin-left: 10%;
  width: 30%;
  height: 200px;
  padding-top: 10%;
}

.result-content-item2 {
  width: 50%;
  height: 200px;
  color: #f24726;
  /*สีตัวอักษร*/
  padding-top: 20%;
}

.result-content-item1-image {
  width: 50%;
  height: 75%;
}

.result-content {
  display: flex;
  background-color: white;
  margin: auto;
  padding: 5px;
  /*border: 1px solid #888;*/
  border: 5px solid #2d9bf0;
  width: 60%;
  height: 59%;
  /*border: 1px solid black;*/
  border-radius: 25px;
}

.result-content-button {
  position: absolute;
  right: 10%;
}

.result-content-item1 {
  margin-left: 10%;
  width: 30%;
  height: 200px;
  padding-top: 10%;
}

.result-content-item2 {
  width: 50%;
  height: 200px;
  color: #2d9bf0; /*สีตัวอักษร*/
  padding-top: 15%;
}

.result-content-item1-image {
  width: 50%;
  height: 75%;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}

body {
  overflow: hidden;
}

.splash {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./src/img/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 98vh;
  animation: fadeIn 1.5s ease-in forwards;
}

.splash.display-none {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./src/img/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 98vh;
  text-align: center;
  transition: z-index 3s;
  animation: fadeOut 1.5s ease-in forwards;
}

.whitescreen {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 98vh;
  text-align: center;
  animation: fadeOut 1.5s ease-in forwards 1.5s;
}

.whitescreen.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 98vh;
  text-align: center;
  transition: z-index 1.5s;
}

/*
    .index {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: url("./src/img/bg.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      z-index: 0;
      color: white;
      text-align: center;
      line-height: 98vh;
    }
    
    .rectangle {
      opacity: 0;
      top: 50%;
      left: 50%;
      position: fixed;
      height: 8px;
      width: 16px;
      line-height: 75px;
      text-align: center;
      display: inline-block;
      margin-left: -8px;
      margin-top: -16px;
      box-shadow: 0;
      background: #ffffffaa;
      border-radius: 100px;
      border-width: 10px;
      border-color: #e9caf0;
      border-style: dashed;
      animation: rectangle 1.5s ease-in forwards 4.5s;
    }
    */

.loader {
  font-size: 10px;
  top: 50%;
  left: 50%;
  margin-top: -5.5em;
  margin-left: -5.5em;
  text-indent: -9999em;
  text-align: center;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #e9caf0;
  background: -moz-linear-gradient(
    left,
    #e9caf0 10%,
    rgba(238, 218, 247, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #e9caf0 10%,
    rgba(238, 218, 247, 0) 42%
  );
  background: -o-linear-gradient(left, #e9caf0 10%, rgba(238, 218, 247, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #e9caf0 10%,
    rgba(238, 218, 247, 0) 42%
  );
  background: linear-gradient(
    to right,
    #e9caf0 10%,
    rgba(238, 218, 247, 0) 42%
  );
  position: fixed;
  -webkit-animation: load 1.4s infinite linear;
  animation: load 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #e9caf0;
  border-radius: 100% 0% 25% 0%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  width: 75%;
  height: 75%;
  background: #eedaf7;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes rectangle {
  to {
    opacity: 1;
    top: 50%;
    left: 50%;
    position: fixed;
    height: 800px;
    width: 1600px;
    line-height: 75px;
    text-align: center;
    display: inline-block;
    margin-left: -800px;
    margin-top: -400px;
    box-shadow: 0;
    background: #ffffffaa;
    border-radius: 100px;
    border-width: 10px;
    border-color: #e9caf0;
    border-style: dashed;
  }
}
